fastapi
uvicorn[standard]
prometheus-client
python-dotenv
firebase-admin
sqlalchemy
psycopg2-binary
python-jose
redis
rq
pinecone
google-cloud-aiplatform
langchain
langgraph
sentence-transformers
torch
email-validator
pydantic[email]
scikit-learn
pandas
numpy
joblib